name: NPM Publish
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16
        check-latest: true
        registry-url: https://registry.npmjs.org/
        cache: npm
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Run Tests
      run: npm cit
    - name: Publish Package to NPM Registry
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_SECRET}}
